body {
    margin: 0;
    display: inline-flex;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

#chart_holder {
    width: 40em;
}

#myChart {
    width: 100%
}

p {
    font-weight: normal;
}

tr {
    border-bottom: 1px solid #ddd;
}

tbody {
    border-top: 3px solid #55acee;
}

th {
    border-right: 1px solid #ddd;
}

table {
    font-size: 12px;
    background: #fff;
    width: 480px;
    border-collapse: collapse;
    margin: 20px;
    border: 1px solid #55acee;
    background-color: rgba(223, 223, 223, 0.5);
}

.btn {
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    font-size: 0.9em;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    display: inline-block;
    color: #55acee;
    border: 2px #55acee solid;
}

.btn:hover {
    background-color: #55acee;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 5px 10px 8px #888888;
}

.myProgress {
    width: 100%;
    background-color: grey;
}

.myBar {
    width: 1%;
    height: 5px;
    background-color: green;
}